*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F7F7F7;
}
a:visited{
    color: #00a5ec;
}
nav{
    
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.do{
    font-family:'Assistant', sans-serif;
    color: #00a5ec;
    font-size: 40px;
}
.to{
    font-family: 'Assistant', sans-serif;
    font-size: 40px;
}
.cir{
    position: absolute;
    top: 130px;
    right: 400px;
}
.size{
    width: 40px;
    height: 40px;
}
.text{
    font-size: 22px;
    color: #424242;
    font-family: Inter;
    position: absolute;
    top: 135px;
    right: 245px;
}
.lowerContainer{
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}
.pos{
    position: absolute;
    left: 75px;
}

.todo{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    line-height: 150%;
    color: #00a5ec;
    font-size: 12px;
    font-family: 'Inter';
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    
}
.todo1{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    line-height: 150%;
    color: #00a5ec;
    font-size: 12px;
    font-family: 'Inter';
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    
}
.todo2{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    line-height: 150%;
    color: #00a5ec;
    font-size: 12px;
    font-family: 'Inter';
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 200px;
}

.check1{
    text-decoration: line-through;
    color: #c2c2c2;
    font-size: 18px;
    text-align: left;
}
.check2{
    color:#424242;
    font-size: 18px;
    text-align: left;
}
.ho:hover{
    box-shadow: 0px 0px 5px gray;
}
.p{
    filter: blur(8px);
}
.task{
    width: 350px;
    height: 200px;
    background-color: white;
    border-radius: 5%;
    position: absolute;
    bottom: 400px;
    left: 40%;
}
button{
 width: 80px;
 height: 30px;
 background-color: #00a5ec;
 text-align: center;
 color: white;
 float: right;
 margin-top: 35px;
 margin-right: 25px;
 border-radius: 5px;
 border:#00a5ec;
}
.task2{
    font-size: 22px;
    color: #424242;
    font-family: Inter;
}
input[type="text"] {
    width: 320px;
    height: 30px;
    background-color: #F7F7F7;
    margin: 25px 15px ;
}
.cross{
    color: #858585;
    margin-left: 145px;
    font-style: normal;
}
.back{
   position: relative;
   left: 500px;
   top: 50px;
}
.btext{
    font-size: 22px;
    color: #424242;
    font-family: Inter;
    position: absolute;
    top: 140px;
    left: 560px;
}
.doo{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    line-height: 150%;
    color: #00a5ec;
    font-size: 12px;
    font-family: 'Inter';
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.t6{
 position: relative;
 top: 130px;
 left: 600px;
}
.display{
    display: flex;
}
.q{
    filter: blur(8px);
}
.task3{
    width: 350px;
    height: 200px;
    background-color: white;
    position: relative;
    bottom: 210px;
    left: 550px;
    border-radius: 5%;
}
.go{
    text-decoration: none;
}
@media screen and (min-width:150px) and (max-width:500px){
    .text{
        display: none;
    }
    nav{
        height: 50px;
        line-height: 50px;
        padding: 0px 10px;
    }
    .lowerContainer{
       flex-direction: column;
       text-align: center;
    }
    .pos{
        position: absolute;
        left: 10px;
    }
   
    .todo{
        width:275px;
    }
    .todo1{
        width: 275px;
    }
    .todo2{
        width: 275px;
    }
    .cir{
      position: absolute;
      top: 80px;
      right: 175px;
    }
    .size{
        width: 40px;
        height: 40px;
    }
    .task{
        width: 300px;
        height: 200px;
        position: absolute;
        bottom:500px;
        left: 20px;
    }
   
    input[type="text"]{
        width: 250px;
    }
    .cross{
        position: absolute;
        top: 0px;
        left: 100px;
    }
    .back{
        position: absolute;
        top: 75px;
        left: 20px;
    }
    .b{
        width: 40px;
        height: 40px;
    }
    .btext{
        position: absolute;
        top: 80px;
        left: 60px;
    }
    .doo{
        width: 265px;
    }
    .t6{
        position: absolute;
        top: 130px;
        left: 20px;
       }
}